{% extends "bienvenida/base_bienvenida.html" %}
{% block content %}

    <div class="container">
        <form action="" method="post">{% csrf_token %}
        <div class="mb-3 row">
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>Por favor, ingresa tu cuenta de e-mail para restaurar la cuenta.</p>
                <p>{{ form.email }}</p>
        </div>
        <input type="submit" class="btn btn-dark" value="Reset password" />
        </form>
    </div>
{% endblock %}