{% extends "bienvenida/base_bienvenida.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <h1 class="text-center">Registrarse</h1>
        <div class="card">
          <div class="card-body">
            <form class="form-horizontal" method="post">
              {% csrf_token %}
              {% for field in form %}
              <div class="m-2 row">
                <div class="col-sm">
                  {{ field.label_tag }}
                  <br>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <div class="mb-3 row text-end">
                <div class="col-sm">    
                  <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
              </div>
          </div>
        </div>
      </form>
      </div>
    </div>
{% endblock %}