{% extends "infuetur/base_index.html" %}

{% block content %}

{% load auth_extras %}

<div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Detalles de la notificaci&oacute;n</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <p class="ptitulo">Tipo de notificaci&oacute;n</p>
                                <h4 class="h4resaltado">{{ notificacion.tipo_notificacion }}</h4>
                            </div>
                            <div class="col-sm">
                                <p class="ptitulo">Fecha</p>
                                <h4 class="h4resaltado">{{ notificacion.fecha }}</h4>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <p class="ptitulo">T&iacute;tulo</p>
                                <h4 class="h4resaltado">{{ notificacion.titulo }}</h4>
                            </div>
                            <div class="col-sm">
                                <p class="ptitulo">Descripci&oacute;n</p>
                                <h4 class="h4resaltado">{{ notificacion.descripcion }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row text-end">
                    <div class="col-sm">    
                        <a id="volver" href="javascript: history.go(-1)" class="btn btn-secondary">Volver</a>
                    </div>
                </div>    
            </div>
        </div>
</div>
{% endblock %}